In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.15.3-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.15.3-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 1.7 MB/s  0:00:01m 6.7 MB/s eta 0:00:01
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
Installing collected packages: dnspython, pymongo
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [pymongo]━━━ 1/2 [pymongo]
Successfully installed dnspython-2.8.0 pymongo-4.15.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pymongo import MongoClient

# Intitiated Client and Connection to Database
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Example for check Connection
print('Connected to MongoDB')

Connected to MongoDB

In [55]:
# Example Insert Data

employee_data = {
    'name' : 'Alice',
    'department' : 'Finance',
    'age' : 29,
    'salary' : 4500}

collection.insert_one(employee_data)
print("Data Alice Inserted")

for employee in collection.find():
    print(employee)

# Example Insert New Data
more_employees = {
    'name' : 'Ervira', 
    'department' :'Marketing',
    'age': 34,
    'salary': 5200},{
    'name': 'Hakim',
    'department': 'IT',
    'age': 40, 
    'salary': 6000}

collection.insert_many(more_employees)
print("New Data Inserted")

# Update Employee Salary
collection.update_one({'name':'Ervira'}, {'$set' : {'salary': 5700}})

# Delete Employee data
collection.delete_one({'name':'Alice'})
print("Data Alice has Deleted")

# Display all Data
for employee in collection.find():
    print(employee)

pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

Data Alice Inserted
{'_id': ObjectId('690716b3f69d4362d966bdf1'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
New Data Inserted
Data Alice has Deleted
{'_id': ObjectId('690716b3f69d4362d966bdf2'), 'name': 'Ervira', 'department': 'Marketing', 'age': 34, 'salary': 5700}
{'_id': ObjectId('690716b3f69d4362d966bdf3'), 'name': 'Hakim', 'department': 'IT', 'age': 40, 'salary': 6000}
{'_id': 'IT', 'average_salary': 6000.0}
{'_id': 'Marketing', 'average_salary': 5700.0}

In [7]:
collection_product = db['product']
print("New Product Database has been created!")

New Product Database has been created!

In [8]:
product_data = [
    {'name': 'Product A', 'category': 'Electronics', 'price': 100},
    {'name': 'Product B', 'category': 'Electronics', 'price': 150},
    {'name': 'Product C', 'category': 'Clothing', 'price': 50},
    {'name': 'Product D', 'category': 'Clothing', 'price': 80},
    {'name': 'Product E', 'category': 'Home', 'price': 200},
    {'name': 'Product F', 'category': 'Home', 'price': 180},
    {'name': 'Product G', 'category': 'Beauty', 'price': 30},
    {'name': 'Product H', 'category': 'Beauty', 'price': 70},
    {'name': 'Product I', 'category': 'Sports', 'price': 120},
    {'name': 'Product J', 'category': 'Sports', 'price': 90}
]

# Insert product data into the collection
collection_product.insert_many(product_data)
print("Products inserted successfully.")

print("\n LIST DATA DUMMY PRODUCT")
for product in collection_product.find():
    print(product)

# 1. Calculate the average price
average_price = collection_product.aggregate([{'$group': {'_id': None,'avg_price': {'$avg': '$price'}}}])

# Get the average price
avg_price = list(average_price)[0]['avg_price']
print(f"\nAverage Price: {avg_price}")

# 2. Query products with price above average
above_average_products = collection_product.find({'price': {'$gt': avg_price}})

print("\nProducts with price above average:")
for product in above_average_products:
    print(product)

# 3. Aggregation pipeline to count products per category
category_counts = collection_product.aggregate([{'$group': {'_id': '$category', 'total_products': {'$sum': 1}}}])

print("\nTotal products in each category:")
for category in category_counts:
    print(f"Category: {category['_id']}, Total Products: {category['total_products']}")

Products inserted successfully.

 LIST DATA DUMMY PRODUCT
{'_id': ObjectId('6906fd81f69d4362d966bd16'), 'name': 'Product A', 'category': 'Electronics', 'price': 100}
{'_id': ObjectId('6906fd81f69d4362d966bd17'), 'name': 'Product B', 'category': 'Electronics', 'price': 150}
{'_id': ObjectId('6906fd81f69d4362d966bd18'), 'name': 'Product C', 'category': 'Clothing', 'price': 50}
{'_id': ObjectId('6906fd81f69d4362d966bd19'), 'name': 'Product D', 'category': 'Clothing', 'price': 80}
{'_id': ObjectId('6906fd81f69d4362d966bd1a'), 'name': 'Product E', 'category': 'Home', 'price': 200}
{'_id': ObjectId('6906fd81f69d4362d966bd1b'), 'name': 'Product F', 'category': 'Home', 'price': 180}
{'_id': ObjectId('6906fd81f69d4362d966bd1c'), 'name': 'Product G', 'category': 'Beauty', 'price': 30}
{'_id': ObjectId('6906fd81f69d4362d966bd1d'), 'name': 'Product H', 'category': 'Beauty', 'price': 70}
{'_id': ObjectId('6906fd81f69d4362d966bd1e'), 'name': 'Product I', 'category': 'Sports', 'price': 120}
{'_id': ObjectId('6906fd81f69d4362d966bd1f'), 'name': 'Product J', 'category': 'Sports', 'price': 90}

Average Price: 107.0

Products with price above average:
{'_id': ObjectId('6906fd81f69d4362d966bd17'), 'name': 'Product B', 'category': 'Electronics', 'price': 150}
{'_id': ObjectId('6906fd81f69d4362d966bd1a'), 'name': 'Product E', 'category': 'Home', 'price': 200}
{'_id': ObjectId('6906fd81f69d4362d966bd1b'), 'name': 'Product F', 'category': 'Home', 'price': 180}
{'_id': ObjectId('6906fd81f69d4362d966bd1e'), 'name': 'Product I', 'category': 'Sports', 'price': 120}

Total products in each category:
Category: Clothing, Total Products: 2
Category: Electronics, Total Products: 2
Category: Home, Total Products: 2
Category: Sports, Total Products: 2
Category: Beauty, Total Products: 2

In [40]:
collection_employees = db['employee']
print("New Employees Database has been created!")

New Employees Database has been created!

In [61]:
employee_data = [
    {'Name': 'James', 'Department': 'IT', 'Age': 34, 'Salary': 3000},
    {'Name': 'Hakim', 'Department': 'IT', 'Age': 28, 'Salary': 4100},
    {'Name': 'Lee', 'Department': 'Engineering', 'Age': 23, 'Salary': 2700},
    {'Name': 'Paul', 'Department': 'Engineering', 'Age': 40, 'Salary': 5000},
    {'Name': 'David', 'Department': 'IT', 'Age': 30, 'Salary': 3500},
    {'Name': 'Jin', 'Department': 'IT', 'Age': 37, 'Salary': 4000},
    {'Name': 'Kuma', 'Department': 'IT', 'Age': 29, 'Salary': 3800},
    {'Name': 'Yoshi', 'Department': 'Engineering', 'Age': 33, 'Salary': 3200},
    {'Name': 'Law', 'Department': 'Engineering', 'Age': 46, 'Salary': 4700},
    {'Name': 'Daruma', 'Department': 'Engineering', 'Age': 27, 'Salary': 2800}
]

# Insert the employee data into the collection
collection_employees.insert_many(employee_data)
print("Employee data inserted successfully.")


# Aggregation pipeline to get top 5 highest-paid employees in each department
pipeline = [
    {'$sort': {'Salary': -1}},
    {
        '$group': {
            '_id': '$Department',
            'top_employees': {
                '$push': {
                    'name': '$Name',
                    'salary': '$Salary',
                    'age': '$Age'
                }
            }
        }
    },
    {
        '$project': {
            '_id': 1,
            'top_employees': {'$slice': ['$top_employees', 5]}
        }
    }
]

# Run the aggregation query
result = collection_employees.aggregate(pipeline)

# Display the results
print("\nTop 5 Employees Highest to Lowest Paid in Each Department")
for department in result:
    print(f"Department {department['_id']} Top 5 Employees:")
    for employee in department['top_employees']:
        print(f"  Name: {employee['name']}, Salary: {employee['salary']}, Age: {employee['age']}")

Employee data inserted successfully.

Top 5 Employees Highest to Lowest Paid in Each Department
Department Engineering Top 5 Employees:
  Name: Paul, Salary: 5000, Age: 40
  Name: Law, Salary: 4700, Age: 46
  Name: Yoshi, Salary: 3200, Age: 33
  Name: Daruma, Salary: 2800, Age: 27
  Name: Lee, Salary: 2700, Age: 23
Department IT Top 5 Employees:
  Name: Hakim, Salary: 4100, Age: 28
  Name: Jin, Salary: 4000, Age: 37
  Name: Kuma, Salary: 3800, Age: 29
  Name: David, Salary: 3500, Age: 30
  Name: James, Salary: 3000, Age: 34

In [62]:
# Deleting Employees Under 25 Years Old
print("Deleting employees under 25 years old...")
delete_result = collection_employees.delete_many({'Age': {'$lt': 25}})
print(f"Deleted {delete_result.deleted_count} employees.")

# Total salary and average age per department
pipeline = [
    {
        '$group': {
            '_id': '$Department',
            'total_salary': {'$sum': '$Salary'},
            'average_age': {'$avg': '$Age'}
        }
    }
]
result = collection_employees.aggregate(pipeline)
print("\nSummary Report:")
for department in result:
    print(f"Department: {department['_id']}")
    print(f"  Total Salary: {department['total_salary']}")
    print(f"  Average Age: {department['average_age']:.2f}")
    print()

Deleting employees under 25 years old...
Deleted 1 employees.

Summary Report:
Department: Engineering
  Total Salary: 15700
  Average Age: 36.50

Department: IT
  Total Salary: 18400
  Average Age: 31.60